<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerImageName>laurentkempe/my-awesome-webapp</ContainerImageName>
        <ContainerRepository>mcr.microsoft.com/dotnet/aspnet:7.0</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="80" Type="tcp" />
    </ItemGroup>
</Project>