<Project>
    <PropertyGroup>
        <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
        <WebPublishMethod>Container</WebPublishMethod>
        <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:7.0</ContainerBaseImage>
        <ContainerImageTag>1.0.0</ContainerImageTag>
        <ContainerRegistry>ghcr.io</ContainerRegistry>
        <ContainerRepository>laurentkempe/containerplayground</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="80" Type="tcp" />
    </ItemGroup>
</Project>